body {
  margin: 0;
  font-family: "Playwrite VN", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fb9ec6;
}

code {
  font-family: "Playwrite VN", serif;
}

h2 {
  color: white;
  font-size: 30px;
}

.App {
  margin-top: 100px;
}
